html{
    background-color: #F8FCFF
}

button {
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.blue {
    background-color: #3498db;
}

button.green {
    background-color: #2ecc71;
}

button.orange {
   background-color: orangered;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.upgrade{
  background-color: #EBEBEB;
}
.default{
    background-color: #E8F3FD
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}



